header {
    background-color: pink;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.frase-header {
    font-family: "Satisfy", cursive;
    font-style: italic;
    letter-spacing: 4px;
    font-size: xx-large;
    color: white;
}

header img {
    width: 80px;
    border-radius: 30px;
}

header ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

header ul li {
    background-color: rgb(253, 254, 255);
    color: rgb(146, 187, 250);
    font-weight: 600px;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
}

header ul li:hover {
    scale: 1.05;
}

nav ul li a {
    text-decoration: none;
    color: green;
    font-weight: 600;
}

main {
    padding: 20px;
    min-height: 100vh;
    background-color: rgb(188, 247, 148);
}

footer {
    background-color: pink;
    padding: 20px;
    text-align: center;
    color: black;
    font-family: "Satisfy", cursive;
    font-weight: 400;
    min-height: 60px;
}

@media (max-width: 880px) {
    header {
        min-height: 60px;
    }

    footer {
        min-height: 50px;
    }

    main {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 15px;
    }

    header img {
        width: 50px;
    }

    .frase-header {
        font-size: small;
        text-align: center;
        margin-top: 10px;
    }

    header ul {
        gap: 10px;
    }

    header ul li {
        padding: 5px;
        font-size: 0.9rem;
    }

    main {
        padding: 10px;
    }

    footer {
        font-size: 0.9rem;
    }
}